.jumbotron {
	position: relative;
	height: 100%;
	background-image: url("../img/main_cover_default.jpg");
	background-size: cover;
	color: #20c20e;
}

.navbar {
	background-color: black;
	margin-bottom: 0px;
	color: #20c20e;
}