.jumbotron {
	position: relative;
	height: 100%;
	background-image: url("../img/main_cover_default.jpg");
	background-size: cover;
	color: #20c20e;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 999;
}

.panel {
    margin-bottom: 0px;
    margin-top: 20px;
}

.wrapper {
    padding-left: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}