.jumbotron {
	position: relative;
	height: 100%;
	background-image: url("../img/main_cover_default.jpg");
	background-size: cover;
	color: #20c20e;
}

.panel {
    margin-bottom: 0px;
    margin-top: 20px;
}

li.active {
    background-color: 428bca;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-sidebar {
    margin-right: 21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}